<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/prueba?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="d/pojos/Temas.hbm.xml"/>
    <mapping resource="d/pojos/Prueba.hbm.xml"/>
    <mapping resource="d/pojos/Departamento.hbm.xml"/>
    <mapping resource="d/pojos/Empleado.hbm.xml"/>
    <mapping resource="d/pojos/Encuesta.hbm.xml"/>
    <mapping resource="d/pojos/Comentarios.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
